<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Product List</title>
</head>
<body>
    <h1>My Product List</h1>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <h2><%= product.name %></h2>
                <p>Price: $<%= product.price %></p>
                <!-- Display the product image -->
                <img src="/public/images/<%= product.image%>" alt="<%= product.name %>">
                <a href="/products/vendors-only/my-products/<%= product.id %>/delete" type="button" class="btn btn-danger btn-lg px-4">Delete</a>
            </li>
        <% }); %>
    </ul>
</body>
</html>