<!-- productDetails.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <title>Product details</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <h1 class="pl-2">Product Details</h1>
    <div class="containter py-1 mx-2">
        <img src="/public/images/<%= product.image%>"  alt="<%= product.name %>">
        <h2>Name: <%= product.name %></h2>
        <p>Price: <%= product.price %></p>
        <p>Description: <%= product.description %></p>
        <a href="#" type="button" class="btn btn-primary btn-lg px-4 me-md-2"
        onclick="addToCart('<%= product.name %>', '<%= product.price %>')">Add to Cart!</a>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>