<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>

    
    <!-- Filter Form -->
    <%- include('filterProducts.ejs') %>

    <ul>
        <% products.forEach(product => { %>
            <li>
                <h2><%= product.name %></h2>
                <p>Price: $<%= product.price %></p>
                <p>Description: <%= product.description %></p>
                <!-- Display the product image -->
                <img src="data:<%= product.image.contentType %>;base64,<%= product.image.data.toString('base64') %>" alt="<%= product.name %>">
                <!-- You can add more product details here -->
            </li>
        <% }); %>
    </ul>
</body>
</html>