<!-- RMIT University Vietnam
  Course: COSC2430 Web Programming
  Semester: 2023A
  Assessment: Assignment 2
  Author: Le Nguyen Minh Quan
  ID: s3978949
  Acknowledgement: https://www.youtube.com/watch?v=FShnKqPXknI, https://getbootstrap.com/docs/5.3/getting-started/introduction/, https://startbootstrap.com/previews/shop-homepage, https://startbootstrap.com/previews/shop-item?fbclid=IwAR00Qh8a1tUfjhFB-gdNVG06kfaSJBrgYJ8_gtcGBoZW75K7biUmqi5l-ko -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
    <%- include('./partials/headerForcustomer.ejs') %>

    <h1>Product List</h1>
    
    <!-- Search Form -->
    <%- include('search.ejs') %>
    <!-- Filter Form -->
    <%- include('filterProducts.ejs') %>

   <div class="container text-center">
        <div class="row"> 
            <% products.forEach(function(product){ %>
            <div class="col-lg-4 col-md-6 col-sm-12 p-2">
                <div class="card w-auto">
                <a href="#"><img src="/images/<%= product.image %>" class="card-img-top" alt="<%= product.image %>"></a>
                <div class="card-body text-center">
                    <h3 class="card-title fs-auto fw-bold">
                    <%= product.name %>
                    </h3>
                    <p class="card-text fs-auto">
                    <strong>$<%= product.price %></strong>
                    </p>
                    <p>Description</p>
                </div>
                <div class="card-footer text-center">
                    <div class="animation-btn">
                        <a href="products/<%= product.id %>">
                            <button class="btn btn-outline-dark me-auto">View</button>
                        </a>
                        <a href="/order">
                            <button class="btn btn-outline-dark me-auto">Order!</button>
                        </a>
                    </div>
                </div>
                </div>
            </div>
            <% }); %>
        </div>
        </div>
        <a href="/customer-page">test</a>
   </div>
   <%- include('./partials/footer.ejs') %>
</body>
</html>