<!-- // RMIT University Vietnam
// Course: COSC2430 Web Programming
// Semester: 2023B
// Assessment: Full-stack Web Application
// Author: Team Eight
// Acknowledgement: Google , Stackoverflow, w3schools -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Item - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <title>Product Details</title>
  </head>
  <body>
    <!-- Navigation-->
    <%- include('./partials/header.ejs') %>

    <!-- Product section-->
    <section class="py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
          <div class="col-md-6">
            <img
              class="card-img-top mb-5 mb-md-0"
              src="/image/<%= product.image%>"
              alt="<%= product.name %>"
            />
          </div>
          <div class="col-md-6">
            <h1 class="display-5 fw-bolder"><%= product.name %></h1>
            <div class="fs-5 mb-5">
              <span>$<%= product.price %></span>
            </div>
            <p class="lead"><%= product.description %></p>
            <form action="/products/add-to-cart" method="POST">
              <input type="hidden" name="productId" value="<%= product._id %>" />
              <input type="hidden" name="name" value="<%= product.name %>" />
              <input type="hidden" name="price" value="<%= product.price %>" />
              <input type="hidden" name="image" value="<%= product.image %>" />
              <div class="d-flex">
                <button
                  class="btn btn-outline-dark flex-shrink-0"
                  type="submit"
                >
                  <i class="bi-cart-fill me-1"></i>
                  Add to cart
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer-->
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
