<div class="container-xl px-4 mt-4">
  <hr class="mt-0 mb-4" />
  <div class="row">

    <div class="col-xl-8">
      <div class="card mb-4">
        <div class="card-header">Account Details</div>
        <div class="card-body">
          <form
            id="profileForm"
            action="/profile/edit"
            method="post"
            enctype="multipart/form-data"
          >
          <div class="card-header">Profile Picture</div>
          <div class="card-body text-center">
            <div class="small font-italic text-muted mb-4">
              JPG or PNG no larger than 5 MB
            </div>
            <div class="input-group pb-1">
              <label class="input-group-text" for="inputGroupFile01"> Product Picture</label>
              <input type="file" name="avatar" class="form-control" id="inputGroupFile01" accept="image/jpeg, image/png">
            </div>
          </div>
            <div class="mb-3">
              <label class="small mb-1" for="inputUsername">Username</label>
              <input
                class="form-control"
                id="inputUsername"
                type="text"
                name="username"
                value="<%= user.username %>"
                placeholder="Enter your username"
              />
              <div id="usernameValidation" class="text-danger"></div>
            </div>
            <div class="mb-3">
              <label class="small mb-1" for="inputRole">Role</label>
              <select class="form-select" id="inputRole" name="role"disabled>
                
                <option value="<%= user.role %>"><%= user.role %></option>
              </select>
            </div>
            <div class="mb-3">
              <label class="small mb-1" for="inputName">Name</label>
              <input
                class="form-control"
                id="inputName"
                name="name"
                type="text"
                placeholder="Enter your Name"
                value="<%= user.name %>"
              />
              <div id="nameValidation" class="text-danger"></div>
            </div>
            <div class="row gx-3 mb-3">
              <div class="col-md-6" id="businessNameContainer">
                <label class="small mb-1" for="businessName"
                  >Business Name</label
                >
                <input
                  class="form-control"
                  name="businessName"
                  id="businessName"
                  value="<%= user.businessName %>"
                  type="text"
                  placeholder="Enter your Business Name"
                />
              </div>
              <div class="col-md-6" id="businessAddressContainer">
                <label class="small mb-1" for="businessAddress"
                  >Business Address</label
                >
                <input
                  class="form-control"
                  name="businessAddress"
                  id="businessAddress"
                  value="<%= user.businessAddress %>"
                  type="text"
                  placeholder="Enter your Business Address"
                />
              </div>
            </div>
            <!-- End of Distribution Hubs Select -->
            <input type="submit" value="Submit"  class="btn btn-primary">
            </input>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
