<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <title>Homepage</title>
</head>
<body>
  <%- include('./partials/header.ejs') %>
  <div class="container">
    <form action="/register/customer-shipper" method="POST">
      <div class="form-group py-1">
        <label class="pb-1" for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="Enter Email"
          value="<%= typeof email != 'undefined' ? email : '' %>"
        />
      </div>
      <div class="form-group pb-1">
        <label class="pb-1" for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Create Password"
          value="<%= typeof password != 'undefined' ? password : '' %>"
        />
      </div>
      <div class="form-group py-1">
        <label class="pb-1" for="password2">Confirm Password</label>
        <input
          type="password"
          id="password2"
          name="password2"
          class="form-control"
          placeholder="Confirm Password"
          value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
        />
      </div>
      <div class="dropdown py-2">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Distriction Centre
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block pt-1">Register</button>
    </form>
    <p class="lead mt-4">Are you a customer? <a href="/register-customer">Register as a customer</a></p>
    <p class="lead mt-4">Are you a vendor? <a href="/register-vendor">Register as a vendor</a></p>
  
    <p class="lead mt-4">Have An Account? <a href="/login">Login</a></p>
  </div>

  <%- include('./partials/footer.ejs') %>
</body>