<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="container vh-100">
      <form action="/register/shipper" method="POST"  enctype="multipart/form-data">
        <div class="form-group py-1">
          <label class="pb-1" for="username">Username</label>
          <input
            type="username"
            id="username"
            name="username"
            class="form-control"
            placeholder="Enter Username"
            value="<%= typeof username != 'undefined' ? username : '' %>"
          />
        </div>
        <div class="form-group py-1">
          <label class="pb-1" for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>

        <!-- Chosen dropdown -->
        <div class="py-2">
          <label for="distributionHub">Select Distribution Hub:</label>
          <select
            class="form-select"
            aria-label="Default select example"
            id="distributionHub"
            name="distributionHub"
          >
            <% hubs.forEach(hub => { %>
            <option value=<%= hub._id %>><%= hub.name %></option>
            <% }); %>
          </select>
        </div>
        <div class="input-group py-2">
          <label class="input-group-text" for="inputGroupFile01">
            Profile Picture</label
          >
          <input
            type="file"
            name="avatar"
            class="form-control"
            id="inputGroupFile01"
            accept="image/jpeg, image/png"
          />
        </div>

        <button type="submit" class="btn btn-primary btn-block pt-1">
          Register
        </button>
      </form>
      <p class="lead mt-4">
        Are you a customer?
        <a href="/register">Register as a shipper</a>
      </p>
      <p class="lead mt-4">
        Are you a vendor? <a href="/register-vendor">Register as a vendor</a>
      </p>

      <p class="lead mt-4">Have An Account? <a href="/login">Login</a></p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
