<!-- views/cart.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Shopping Cart</title>
  <script src="../js/shoppingCart.js"></script>
</head>
<body>
  <h2>Shopping Cart</h2>
  <% if (cartItems.length === 0) { %>
    <p>Your cart is empty.</p>
<% } else { %>
  <ul>
    <% cartItems.forEach((item) => { %>
      <li>
        <img src="/public/images/<%= item.image %>" alt="<%= item.name %>">
        <%= item.name %> - $<%= item.price %> x <%= item.quantity %>
        <form action="/products/remove-from-cart/<%= item._id %>" method="POST">
          <button type="submit">Remove</button>
        </form>
      </li>
    <% }); %>
  </ul>

  <h3>Total Price: $<%= calculateTotalPrice(cartItems) %></h3>

  <form action="/products/place-order" method="POST">
    <button type="submit">Order</button>
  </form>
  <a href="/">Continue Shopping</a>
</body>
</html>
