<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Homepage</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <!-- Search Form -->
    <div class="container">
        <div class="row pb-2">
            <%- include('./partials/search.ejs') %>
        </div>
    
    <!-- Filter Form -->
        <div class="row">
            <%- include('./partials/filterProducts.ejs') %>
        </div>
    </div>
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <% products.forEach(product => { %>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="/image/<%= product.image %>" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder"><%= product.name %></h5>
                                    <!-- Product price-->
                                    Price: $<%= product.price %>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a href="products/<%= product.id %>" class="btn btn-outline-dark mt-auto" href="#">View</a></div>
                            </div>
                        </div>
                    </div>
                <% }); %>
                <div class="col-xl-4 col-lg-6 col-md-12 mb-5"></div>
                <div class="col-xl-4 col-lg-6 col-md-12 mb-5"></div>
            </div>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>
</body>
</html>